<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="blog-header">
        <div class="container">
          <h1 class="blog-title">Contact</h1>
        </div>
</div>
    <div class="container">
        <div class="row ">
            <ul class="contactinfo"> 
                <li class="">
                    Email: bertina.han@gmail.com
                </li>
                <li class="">
                        phone: 7788916676
                </li>
                <li class="">
                        Wechat: bertina-zhai
                </li>
            </ul>
        </div>
    </div>
  <% include ../partials/footer.ejs %>
</body>
</html>
